:root {
    --header-space: 97.5px;
    --header-padding: 37.5px;
    --header-gap: 30px;
    /* colors */
    --color-grey: #919191;
}

@font-face {
    font-family: ModernSans;
    src: url(./assets/ModernSans.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    /* apply font */
    font-family: ModernSans;
    font-size: 24px;
    overflow-y: hidden;
}

.svg {
    width: 37.5px;
    height: 37.5px;
}

.background {
    background-image: radial-gradient(
            18% 28% at 24% 50%,
            #7032dbff 7%,
            #073aff00 100%
        ),
        radial-gradient(18% 28% at 18% 71%, #8a4ffff5 6%, #073aff00 100%),
        radial-gradient(70% 53% at 36% 76%, #76adfdff 0%, #073aff00 100%),
        radial-gradient(42% 53% at 15% 94%, #2d31d4ff 7%, #073aff00 100%),
        radial-gradient(42% 53% at 34% 72%, #153c56ff 7%, #073aff00 100%),
        radial-gradient(18% 28% at 35% 87%, #2b538cff 7%, #073aff00 100%),
        radial-gradient(31% 43% at 7% 98%, #8f88b8ff 24%, #073aff00 100%),
        radial-gradient(21% 37% at 72% 23%, #883ab69c 24%, #073aff00 100%),
        radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
        radial-gradient(74% 86% at 67% 38%, #2526c9f5 24%, #073aff00 100%),
        linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);

    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: var(--header-space);
    align-items: center;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
}

.headerText {
    color: white;
    text-decoration: none;
}

.headerTextDesc {
    color: var(--color-grey);
    text-decoration: none;
    font-size: 15px;
}
